doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")

    title= product.name

  body
    h1= product.name
    p 
      a(href=`/products`) Search
    p 
      a(href=`/products/${product.id}/reviews`) #{product._count.reviews} Reviews
    p ID: #{product.id}
    p Price: #{product.price}
    p Dimensions: #{product.dimensionX} × #{product.dimensionY} × #{product.dimensionZ}
    p Stock: #{product.stock}
