doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")

    title #{page.id}

  body
    nav
      a(href="/") Search
      span  • 
      a(href="/popular") Popular
    nav
      a(href="/") Search
  
    h3 Links to URL:
    h3 a(href=page.url)= #{page.url} (#{page.incomingLinks.length}):

    ul
      each link in page.incomingLinks
        li
          a(href=link.source.url)= link.source.url
