doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")

    title #{page.id}

  body
  
    h1 Links to URL:
    h1 a(href=page.url)= #{page.url} (#{page.incoming.length}):

    ul
      each page in page.incoming
        li
          a(href=page.url)= page.url
