doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")

    title #{endpoint}

  body
    nav
      a(href="/fruits") Fruits
      span  • 
      a(href="/personal") Personal

    header
      h1 #{endpoint}

      h2 Search
      form(method="get" action="/fruits")
        p
          label(for="search.name", style="margin-right: 0.2em") Query
          input(type="text", id="search.name", name="name")
        p
          label(for="search.boost") Boost
          input(type="checkbox", id="search.boost" name="boost")
        p
          label(for="search.limit", style="margin-right: 0.2em") Page limit
          input(type="number", id="search.limit", name="limit")
        p
          button(type="submit") Search

    article
      h2 List
      if topPages.length > 0
        each page in topPages
          article
            h2
              a(href=`/page/${page.id}`)= page.title
            p 
              a(href=`${page.url}`)= page.url
            p 
              Score: #{page.searchScore}
              PageRank: #{page.pageRank}
      else 
        p No pages found.
