doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")

    title= order.id

  body
    h1= order.customer.username
    p 
      a(href=`/orders`) Orders
    p 
      span Order ID: #{order.id}
      
    each item in order.orderItems
    p
      h3 #{item.product.name}
      a(href=`/products/#{item.productId}`) Product ID: #{item.productId}
      span Quantity: #{item.quantity}
