doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")

    title Order ##{order.id}

  body    
    h1 Order ##{order.id}
    p 
      a(href=`/orders`) Orders

    p Customer: #{order.customer.name}
    p Items:
    ul
      each item in order.orderItems
        li
          a(href=`/products/${item.product.id}`) #{item.product.name} (×#{item.quantity})
