doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")

    title Orders

  body
    nav
      a(href="/products") Products
      span  • 
      a(href="/orders") Orders

    h1 Orders

    if orders.length > 0
      each order in orders
        article
          h2
            a(href=`/orders/${order.id}`) Order ##{order.id}
          p Customer: #{order.customer.name}
          p Items:
          ul
            each item in order.orderItems
              li
                a(href=`/products/${item.product.id}`) #{item.product.name} (×#{item.quantity})
    else 
      p No orders found.
