doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")

    title Orders

  body
    header
      h1 Orders
      p 
        a(href=`/products`) Products

      h2 Create
      form(method="post" action="/orders")
        p
          label(for="create.username", style="margin-right: 0.2em") Username
          input(type="text", id="create.username", name="name", required)
        p
          label(for="create.item", style="margin-right: 0.2em") Item
          input(type="text", id="create.item", name="item", value="", required)
        p
          button(type="submit") Create

    article
      h2 List
      if orders.length > 0
        each order in orders
          article
            h3
              a(href=`/orders/${order.id}`) Order ##{order.id}
            p Customer: #{order.customer.name}
            p Items:
            ul
              each item in order.orderItems
                li
                  a(href=`/products/${item.product.id}`) #{item.product.name} (×#{item.quantity})
      else 
        p No orders found.
